[submodule "src/deps/external/half"]
	path = src/deps/external/half
	url = gitea@git.local:root/half.git
[submodule "src/deps/external/vma"]
	path = src/deps/external/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "src/vma/deps/external/vma"]
	path = src/vma/deps/external/vma
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
